# Created by venv; see https://docs.python.org/3/library/venv.html
.venv/
__pycache__/
*.pyc
.DS_Store
*.pyo
*.pyd
.venv/
.env
build/
dist/
*.egg-info/
.DS_Store
.vscode 
.ruff_cache
SECURITY_PROTOCOL.md
Promptloop TEMPLATE.txt
